<div class="container-page">
  <div class="greeting">
    <p>My Projects</p>
    <div class="separator"></div>
  </div>
  <div class="container">
    <ng-container *ngIf="projects.length === 0">
      <app-empty-section [typeNotice]="'project'" [size]="'big'"></app-empty-section>
    </ng-container>
    <ng-container *ngIf="projects.length > 0">
      <div *ngFor="let project of projects" class="row">
        <app-project-card
          [size]="'medium'"
          [project]="project"
        ></app-project-card>
      </div>
    </ng-container>
  </div>
</div>
