.separator {
  width: 160px;
  height: 3px;
  background-color: #7eabfb;
}

.stats, .ongoing, .projects {
  text-transform: uppercase;
  padding: 0px 20px 30px;

  .heading {
    height: 50px;

    h2 {
      float: left;
    }

    button {
      float: right;
    }
  }
}

.project {
  background-color: #fbfbfb;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;

  &:hover {
    -webkit-box-shadow: 10px 10px 85px -60px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 85px -60px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 85px -60px rgba(0,0,0,0.75);
  }

  .name {
    font-size: 12px;
    font-weight: bolder;
    margin: 0px 0px 10px;
  }

  .description {
    font-size: 12px;
    text-transform: none;
    opacity: 0.6;
  }

  .progress {
    height: 6px;
    width: 100%;
    background-color: #bada55;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .tasks {
    font-size: 12px;
  }
}
