<div class="container-page">
  <div class="greeting">
    <p>{{ greeting }}</p>
    <div class="separator"></div>
    <p class="date">{{ date }}</p>
  </div>
  <div class="stats">
  </div>
  <div class="ongoing">
    <h2>On going tasks</h2>
    <ng-container *ngIf="displayTasks">
    </ng-container>
    <ng-container *ngIf="!displayTasks">
      <app-empty-section [typeNotice]="'task'" [size]="'small'"></app-empty-section>
    </ng-container>
  </div>
  <div class="projects">
    <h2>Projects</h2>
    <ng-container *ngIf="displayProjects">
    </ng-container>
    <ng-container *ngIf="!displayProjects">
      <app-empty-section [typeNotice]="'project'" [size]="'small'"></app-empty-section>
    </ng-container>
  </div>
</div>
