<div class="container-page">
  <div class="greeting">
    <p>{{ greeting }}</p>
    <div class="separator"></div>
    <p class="date">{{ date }}</p>
  </div>
  <div class="stats">
  </div>
  <div class="ongoing">
    <div class="heading">
      <h2>On going tasks</h2>
      <ng-container *ngIf="tasks.length > 0">
        <button class="btn-gray sm" type="button" name="button" (click)="createTask()">new task</button>
      </ng-container>
    </div>
    <div class="task-list" *ngIf="displayTasks">
      <div *ngFor="let task of tasks">
        <app-task-card 
          [size]="'small'" 
          [task]="task"
          (status)="updateTask($event)">
        </app-task-card>
      </div>
    </div>
    <ng-container *ngIf="!displayTasks">
      <app-empty-section 
        [typeNotice]="'task'" 
        [size]="'small'">
      </app-empty-section>
    </ng-container>
  </div>
  <div class="projects">
    <div class="heading">
      <h2>Projects</h2>
      <ng-container *ngIf="projects.length > 0">
        <button class="btn-gray sm" type="button" name="button" (click)="createProject()">new project</button>
      </ng-container>
    </div>
    <div class="project-list">
      <div *ngFor="let project of projects">
        <app-project-card
          [size]="'small'"
          [project]="project"
        ></app-project-card>
      </div>
    </div>
    <ng-container *ngIf="!displayProjects">
      <app-empty-section [typeNotice]="'project'" [size]="'small'"></app-empty-section>
    </ng-container>
  </div>
</div>
