/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

// Colors
$bg-color: #efefef;
$dot-color: #acacac;

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

html, body {
  margin: 0;
  height: 100%;
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  opacity: 0.7;
}

.container {
  width: 100%;
  float: left;
}

.container-page {
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100%;

  .greeting {
    font-size: 35px;
    text-transform: uppercase;
    padding: 20px;
    opacity: 0.7;

    p {
      margin: 0px;
      margin-bottom: 10px;
    }

    .date {
      font-size: 16px;
      margin: 11px 2px;
    }
  }
}

.btn-green {
	background-color: #a7c44c;
	border-radius: 7px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: uppercase;
  border: none;

  &.sm {
    border-radius: 50%;
    padding: 5px 15px;
    font-size: 29px;
  }
}
.btn-green:hover {
	background-color: #94ae44;
}
.btn-green:active {
	position: relative;
	top:1px;
}

.btn-pink {
	background-color: #fb7eab;
	border-radius: 7px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: uppercase;
  border: none;

  &.sm {
    border-radius: 50%;
    padding: 5px 15px;
    font-size: 29px;
  }
}
.btn-pink:hover {
	background-color: #e17199;
}
.btn-pink:active {
	position: relative;
	top:1px;
}

.btn-blue {
	background-color: #7eabfb;
	border-radius: 7px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: uppercase;
  border: none;

  &.sm {
    border-radius: 50%;
    padding: 5px 15px;
    font-size: 29px;
  }
}
.btn-blue:hover {
	background-color: #7199e1;
}
.btn-blue:active {
	position: relative;
	top:1px;
}

.btn-cancel {
	background-color: #edebec;
	border-radius: 7px;
	display: inline-block;
	cursor: pointer;
	color: #6e6c6c;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: uppercase;
  border: none;

  &.sm {
    border-radius: 50%;
    padding: 5px 15px;
    font-size: 29px;
  }
}
.btn-cancel:hover {
	background-color: #dfdbdc;
}
.btn-cancel:active {
	position: relative;
	top:1px;
}

.sucess-message {
  height: 200px;

  img {
    width: 45px;
    margin: 0 auto;
    padding-top: 71px;
    display: block;
    padding-bottom: 10px;
  }

  p {
    text-align: center;
  }
}

/*.mat-form-field-empty.mat-form-field-label {
  color: #82983b;
}

.mat-form-field-underline {
  background-color: #82983b;
}*/
