/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

// Colors
$bg-color: #efefef;
$dot-color: #acacac;

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

html, body {
  margin: 0;
  height: 100%;
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  opacity: 0.7;
}

.container {
  height: 100%;
  width: 100%;
  float: left;
}

.container-page {
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100%;

  .greeting {
    font-size: 35px;
    text-transform: uppercase;
    padding: 20px;
    opacity: 0.7;

    p {
      margin: 0px;
    }

    .date {
      font-size: 16px;
      margin: 11px 2px;
    }
  }
}

.btn-green {
	background-color: #a7c44c;
	border-radius: 7px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: uppercase;
  border: none;
}
.btn-green:hover {
	background-color: #94ae44;
}
.btn-green:active {
	position: relative;
	top:1px;
}

.btn-pink {
	background-color: #fb7eab;
	border-radius: 7px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: uppercase;
  border: none;
}
.btn-pink:hover {
	background-color: #e17199;
}
.btn-pink:active {
	position: relative;
	top:1px;
}
