<ng-container *ngIf="size === 'small'">
    <div class="task small">
        <div class="left-content">
            <p class="title">{{ task.title }} - <span class="project">{{ task.project }}</span></p>
            <p class="description">{{ task.description }}</p>
        </div>
        <div class="right-content">
            <!--<div [ngClass]="task.status==='DONE' ? 'done' : 'wip'">-->
            <div *ngIf="task.status !== 'DONE'">
                <span class="material-icons md-gray checked" (click)="changeStatus('done')">check_circle</span>
                <span class="material-icons md-gray unchecked" (click)="changeStatus('wip')">radio_button_unchecked</span>    
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="size === 'medium'">
    <div class="task medium">
        <p class="title">{{ task.title }}</p>
        <p class="description">{{ task.description }}</p>
        <p class="status">{{ task.status }}</p>
        <p class="project">{{task.project}}</p>
        <p class="start">{{task.startTime}}</p>
        <p class="end">{{task.endTime}}</p>
    </div>
</ng-container>
<ng-container *ngIf="size === 'big'">
    <div class="task big">
        <p class="title">{{ task.title }}</p>
        <p class="description">{{ task.description }}</p>
        <p class="status">{{ task.status }}</p>
        <p class="project">{{task.project}}</p>
        <p class="start">{{task.startTime}}</p>
        <p class="end">{{task.endTime}}</p>
    </div>
</ng-container>