<ng-container *ngIf="size === 'small'">
    <div class="project small">
        <p class="name">{{ project.title }}</p>
        <p class="description">{{ project.description }}</p>
        <div class="progress"></div>
        <p class="tasks">Tasks</p>
    </div>
</ng-container>
<ng-container *ngIf="size === 'medium'">
    <div class="project medium">
        <p class="name">{{ project.title }}</p>
        <p class="description">{{ project.description }}</p>
        <div class="progress"></div>
        <p class="tasks">Tasks</p>
    </div>
</ng-container>