<ng-container *ngIf="size === 'small'">
    <div class="project small">
        <p class="title">{{ project.title }}</p>
        <!--<p class="description">{{ project.description }}</p>-->
        <div class="progress">
            <p class="title">Progress</p>
            <div class="progress-bar"></div>
            <div class="bar" [ngStyle]="{'width': progress + '%'}"></div>
        </div>
        <p class="tasks">Tasks</p>
    </div>
</ng-container>
<ng-container *ngIf="size === 'medium'">
    <div class="project medium">
        <p class="title">{{ project.title }}</p>
        <p class="description">{{ project.description }}</p>
        <div class="progress">
            <p class="title">Progress</p>
            <div class="progress-bar"></div>
            <div class="bar" [ngStyle]="{'width': progress + '%'}"></div>
        </div>
        <p class="tasks">Tasks</p>
    </div>
</ng-container>