<div class="container-page">
  <div class="greeting">
    <p>My Tasks</p>
    <div class="separator"></div>
  </div>
  <div class="date">
    {{ date }}
  </div>
  <ng-container *ngIf="calendarView">
    <div class="calendar">
      <h2>Today</h2>
      <div class="">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!calendarView">
    <div class="schedule">
      <div *ngFor="let hour of dayHours" class="hour">
        <div class="box" id="{{ 'object-' + hour }}">
            <!--<div class="sign"></div>-->
            <ng-container *ngIf="hour < 10">
              <p>0{{ hour }}:00</p>
            </ng-container>
            <ng-container *ngIf="hour >= 10">
              <p>{{ hour }}:00</p>
            </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
