<div class="container-page">
  <div class="greeting">
    <p>My Tasks</p>
    <div class="separator"></div>
  </div>
  <div class="date" *ngIf="tasks.length > 0">
    <p class="day">{{ date }}</p>
    <div class="new-task">
      <button class="btn-pink" type="button" name="button">Add a task</button>
    </div>
  </div>
  <ng-container *ngIf="calendarView && tasks.length > 0">
    <div class="calendar">
      <h2>Today</h2>
    </div>
  </ng-container>
  <ng-container *ngIf="!calendarView && tasks.length > 0">
    <div class="schedule">
      <div *ngFor="let hour of dayHours" class="hour">
        <div class="box" id="{{ 'object-' + hour }}">
            <!--<div class="sign"></div>-->
            <ng-container *ngIf="hour < 10">
              <p>0{{ hour }}:00</p>
            </ng-container>
            <ng-container *ngIf="hour >= 10">
              <p>{{ hour }}:00</p>
            </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="tasks.length === 0">
    <app-empty-section [typeNotice]="'task'" [size]="'big'"></app-empty-section>
  </ng-container>
</div>
